doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

  script(src="javascripts/d3.min.js")
  script(src="javascripts/underscore-min.js")
  script(src="coffee/app.js")